---
import { count } from '@/lib/sounds';

import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title || 'Chill: Relax, Focus, Sleep';
const description =
  Astro.props.description ||
  `Chill is your ultimate sanctuary for crafting the perfect ambiance to unwind, focus, or spark your creativity.`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Chill" property="og:site_name" />
    <meta content="https://webchill.fayhe.fr" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://webchill.fayhe.fr/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />
  </head>
  <body>
    <slot />
  </body>
</html>
